// TODO

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  img {
    object-fit: cover;
    height: 400px;
  }
  section {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
    margin-top: 80px;
    h1 {
      font-weight: bold;
      font-size: 3rem;
      margin-bottom: 24px;
      color: var(--Heading);
    }
    span {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
      div {
        gap: 5px;
        align-items: center;
        display: flex;
        p {
          color: var(--Info);
          font-size: 0.875rem;
        }
      }
    }

    > p {
      color: var(--Info);
      font-size: 0.875rem;
      margin-bottom: 64px;
    }

    h2 {
      font-size: 2.25rem;
      margin-bottom: 20px;
      color: var(--Heading);
    }
    > div {
      font-size: 1.125rem;
      color: var(--Body);
      margin-bottom: 15px;
    }
  }
}

.Nav {
  display: flex;
  flex-direction: column;
  > div {
    height: 1px;
    background-color: var(--Info);
    opacity: 0.1;
    margin-bottom: 20px;
  }
  > span {
    display: flex;
    justify-content: space-between;
    button {
      background-color: transparent;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3 {
        font-weight: normal;
        color: var(--Heading);
      }
      p {
        color: var(--Highlight);
      }
    }
  }
  button:first-child {
    align-items: flex-start;
  }
  button:last-child {
    align-items: flex-end;
  }
}
