// TODO
.container {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  align-items: center;
  height: 5rem;
  padding: 0 2rem;
  button {
    background-color: transparent;
    img {
      cursor: pointer;
    }
  }
}
